@import './header.css';
@import './hero.css';
@import './about-contact.css';
@import './services.css';
@import './projects.css';
@import './footer.css';

/* ===== VARIABLES ===== */

:root {
    --primary: black;
    --secondary: red;
    --light: #f2f2f2;
    --title-ff: 'Raleway';
    --text-ff: 'Inter';
    --green: #058755;
}

/* ===== GLOBAL RESET ===== */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===== COMMON STYLES ===== */

body {
    font-family: var(--text-ff);
    scroll-behavior: smooth;
    background: var(--light);
    /*overflow-x: hidden;*/
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section > h2:first-of-type {
    margin: auto;
    margin-bottom: 100px;
    font-weight: 500;
    color: var(--primary);
    font-family: var(--title-ff);
    font-size: 38px;
}

a:hover {
    text-decoration: underline !important;
}

.button {
    width: 160px;
    height: auto;
    background: var(--primary);
    border: 2px solid var(--primary);
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 12px;
}

.button:hover {
    background: white;
    color: var(--primary);
    cursor: pointer;
    text-decoration: none !important;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.center-clean {
    text-align: center;
    text-decoration: none;
}


@media only screen and (max-width: 1000px) {

    section > h2:first-of-type {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}


@media only screen and (max-width: 600px) {

    body {
        width: 100%;
    }
}