.projects {
    width: 100%;
    margin: auto;
    position: relative;
    background: white;
    margin-bottom: 100px;
}

.projects h2 {
    margin-top: 30px;
}

.projects .button-container {
    display: flex;
    margin: auto;
    width: 300px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.button-container button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.button-container button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.projects .button-inverse {
    background: white;
    color: var(--primary);
}

.projects .button:not(.button-inverse):hover  {
    background: var(--primary) !important;
    color: white !important;
}

.project-item {
    margin: auto;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-item .project-item-text {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 250px;
    width: 100%;
    padding: 20px 20px 40px;
    background: var(--light);
    gap: 50px;
}

.project-item-text .left-text {
    width: 50%;
}

.project-item-text h4 {
    font-size: 40px;
    line-height: 100px;
    font-weight: 700;
    color: var(--primary);
    white-space: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
}
.project-item-text h5 {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
    white-space: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
}


.project-item-text .location {
    color: var(--primary);
    white-space: nowrap;
    height: 50px;
    width: 100%;
}

.project-item-text .right-text {
    width: 50%;
    margin-top: 20px;
    height: 190px;
}

.right-text ul {
    list-style: none;
    width: 70%;
    height: 100%;
    padding: 0px;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    flex-wrap: wrap;
}

.right-text ul li {
    /*white-space: nowrap;*/
    width: 200px;
    text-align: left;
    /*height: 100%;*/
    min-height: 60px;
    position: relative;
    padding-top: 10px;
}

.right-text li .project-icon {
    position: absolute;
    left: -30px;
    top: 10px;
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
    line-height: 100px;
}

.project-item:nth-child(2n - 1) {
    display: none;
}

.project-item .images-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    gap: 20px;
    margin-top: 20px;
}

.project-item .images-container div {
    opacity: 0;
    height: 100%;
    width: 50%;
}

.project-item .images-container .first-image, .second-image {
    position: relative;
    height: 400px;
    width: 50%;
}

.project-item .images-container .first-image {
    margin-bottom: 20px;
}

.project-item .images-container .first-image img, .second-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-item .images-container .first-image p, .second-image p {
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    color: var(--primary);
    background: white;
    padding: 7px 10px;
    width: fit-content;
    font-weight: 700;
}

.project-item .images-container #first-image-1.fade-in, #first-image-2.fade-in {
    animation: fadeInAnimation 1s linear forwards;
    animation-delay: 300ms;
}

.project-item .images-container #second-image-1.fade-in, #second-image-2.fade-in {
    animation: fadeInAnimation 1s linear forwards;
    animation-delay: 800ms;
}


@media only screen and (min-width: 1000px) and (max-width: 1440px) {

    .projects {
        width: 100vw;
        margin: 0;
        text-align: center;
        height: fit-content;
    }

    .project-item {
        max-width: 1200px;
        width: 100vw;
        gap: 0;
        height: 700px;
    }

    .project-item .project-item-text {
        max-width: 100%;
        width: 100vw;
        gap: 0;
        justify-content: space-between;
    }

    .project-item .left-text {
        width: fit-content;
    }

    .project-item .right-text {
        width: fit-content;
        margin: 0;
        padding: 0;
    }

    .project-item .right-text ul {
        width: fit-content;
    }

    .project-item .project-item-text .right-text ul li {
        margin-right: 40px;
    }

    .project-item .images-container {
        width: 100%;
        height: 300px;
    }
}


@media only screen and (max-width: 1000px) {

    .project-item {
        width: 100%;
        padding: 20px;
        height: fit-content;
        gap: 100px;
    }

    .project-item-text {
        gap: 20px;
        height: 400px !important;
        flex-direction: column !important;
        width: 100%;
    }

    .project-item-text .left-text {
        width: unset;
        justify-content: center;
        height: 100%;
    }

    .project-item .left-text div, .project-item-text div {
        height: 0;
    }

    .project-item-text h4 {
        line-height: 50px;
    }

    .project-item-text .right-text {
        width: 100%;
        padding-left: 50px;
    }

    .project-item .project-item-text .right-text ul {
        width: 100%;
    }

    .project-item .project-item-text .right-text ul li {
        margin-right: 60px;
    }

    .projects .button-container {
        height: 100px;
    }

    .project-item .images-container {
        width: 100%;
        height: fit-content;
        margin-top: unset;
        flex-direction: column;
    }

    .project-item .images-container .first-image, .second-image {
        height: 325px;
        width: 100% !important;
    }

    .project-item .images-container .first-image img, .second-image img {
        height: 325px;
    }
}

@media only screen and (max-width: 600px) {

    .project-item {
        gap: 100px;
    }

    .project-item-text {
        height: 600px !important;
        width: 100%;
    }

    .project-item-text div {
        margin: auto;
    }

    .project-item-text .left-text {
        text-align: left;
        width: 100%;
    }

    .project-item .project-item-text .right-text ul {
        height: fit-content;
        width: fit-content;
        margin: auto;
        margin-top: -250px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}